# To add firesticks, add them to the [firesticks] section with format:
# DeviceName=hostname
#
# The hostname will be resolved to an IP address automatically.
# You can use either a network hostname (e.g., android-4) or an IP address.
#
# Examples:
[firesticks]
LivingRoom=android-4
Basement=android-5
# Or with IP addresses (still supported):
# Office=192.168.1.100